---
interface Props {
    classProp?: string;
}

const { classProp } = Astro.props;
---

<section class=`container ${classProp}`>
    <slot />
</section>

<style>
    section {
        padding: 0 25px;
    }
</style>